{% extends "layout.html" %}

{% block content %}
    <table class="">
        <thead class="table100-head">
        <tr>
            <th colspan="4">Applicant details</th>
        </tr>
        </thead>
        <tbody class="table100-body">
        {% for entity in data %}
            <tr>
                <td class="column1">{{ entity.first_name }}</td>
                <td class="column2">{{ entity.application_code }}</td>
                <td class="column2">{{ entity.creation_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'footer.html' %}
{% endblock %}