{% extends "layout.html" %}

{% block content %}
    <table class="">
     <thead class="table100-head">
      <tr>
          <th colspan="4">Codecool applicants</th>
      </tr>
     </thead>
     <tbody class="table100-body">
    {% for applicant in applicants %}
    <tr>
         <td class="column1">{{ applicant.first_name }}</td>
         <td class="column2">{{ applicant.last_name }}</td>
         <td class="column3">{{ applicant.phone_number }}</td>
         <td class="column4"><a href="{{ url_for('applicant_info', application_code=applicant.application_code) }}">{{ applicant.application_code }}</a></td>
    </tr>
    {% endfor %}
     </tbody>
    </table>
    {% include 'footer.html' %}
{% endblock %}