{% extends "layout.html" %}

{% block content %}
    <div>
        <a href="{{ url_for('route_mentors') }}">List mentors</a>
    </div>
    <div>
        <a href="{{ url_for('route_applicants') }}">List applicants</a>
    </div>
    <div>
        <a href="{{ url_for('route_applicants_and_mentors') }}">List applicants and their mentors</a>
    </div>
    <div>
        <a href="{{ url_for('mentor_nicknames') }}">Miskolc mentor nicknames</a>
    </div>
    <div>
        <a href="{{ url_for('route_mentors_by_country') }}">Show mentor count by country</a>
    </div>
    <div>
        <a href="{{ url_for('route_all_school') }}">List school info</a>
    </div>
    <div>
        <a href="{{ url_for('route_contacts') }}">Show schools contact persons</a>
    </div>
    <div>
        <a href="{{ url_for('find_applicant_by_first_name') }}">Find applicant by first name</a>
    </div>
    <div>
        <a href="{{ url_for('find_applicant_by_email') }}">Find applicant by email</a>
    </div>
    <div>
        <a href="{{ url_for('add_new_applicant') }}">Add new applicant</a>
    </div>
    <div>
        <a href="{{ url_for('find_applicant_by_application_code') }}">Search by application code</a>
    </div>
    <div>
        <a href="{{ url_for('update_record', table='mentors') }}">Update mentors</a>
    </div>
    <div>
        <a href="{{ url_for('update_record', table='applicants') }}">Update applicants</a>
    </div>
    <div>
        <a href="{{ url_for('route_applicants') }}">List applicants</a>
    </div>
{% endblock %}