{% extends "layout.html" %}

{% block content %}
    <table class="">
     <thead class="table100-head">
      <tr>
          <th colspan="4">Codecool applicants</th>
      </tr>
     </thead>
     <tbody class="table100-body">
    {% for entity in data %}
    <tr>
         <td class="column1">{{ entity.first_name }}</td>
         <td class="column2">{{ entity.last_name }}</td>
         <td class="column3">{{ entity.school_name }}</td>
         <td class="column4">{{ entity.country }}</td>
    </tr>
    {% endfor %}
     </tbody>
    </table>
    {% include 'footer.html' %}
{% endblock %}